*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.input-container{
  display: flex;
  justify-content: center;
}

.input-section{
  width: 800px;
  display: flex;
  background-color: rgb(170, 220, 240);
  justify-content: center;
  flex-wrap: wrap;
}


